.main_page {
	min-height: 100vh;

	.intro {
		background-image: url('/src/assets/png/background.png');
		background-size: cover;
		background-repeat: no-repeat;
		height: 100vh;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 20px;

		.name {
			text-align: center;
			max-width: 450px;
			font-size: 26px;
			font-weight: 600;
			border-radius: 20px;
			color: #fff;
			background: #e89517;

			padding: 20px;
		}
	}
}

// // Intro Section
// .intro {
//     text-align: center;

//     .name {
//         font-size: 1.5em;
//         margin-bottom: 10px;
//         color: #000;
//     }

//     .button {
//         &.primary {
//             padding: 10px 20px;
//             background-color: #ff9100;
//             color: white;
//             border: none;
//             border-radius: 8px;
//             cursor: pointer;
//             font-size: 1em;
//             text-decoration: none;
//             transition: background-color 0.3s;

//             &:hover {
//                 background-color: #e07d00; // manually darkened shade of #ff9100
//             }
//         }
//     }
// }

.catalog_section {
	display: flex;
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	align-items: center;
	padding: 50px 20px;
}

//

// Delivery Info Section
.delivery-info {
	padding: 40px 0;

	display: flex;
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	gap: 10px;
	align-items: center;
	.delivery-title {
		font-size: 1.8em;
		text-align: center;
		color: #000;
		margin-bottom: 15px;
	}

	.delivery-details {
		font-size: 0.9em;
		text-align: center;
		margin-bottom: 20px;
	}

	.delivery-options {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		gap: 105px;

		.info-block {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			text-align: center;
			max-width: 200px;

			.icon-min-order,
			.icon-delivery,
			.icon-pickup {
				font-size: 2em;
				color: #ff9100;
				margin-bottom: 10px;
			}

			.info-image {
				height: fit-content;
			}
			.info-text {
				font-size: 0.9em;
			}
		}
	}
}

// Login Section
.login {
	background-image: url('/src/assets/png/background2.png');
	background-size: cover;
	background-repeat: no-repeat;
	padding: 200px 0;
	text-align: center;

	.login-title {
		font-size: 1.8em;
		color: #000;
		margin-bottom: 20px;
	}

	.login-form {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 10px;
		max-width: 300px;
		margin: 0 auto;

		.form-input {
			width: 100%;
			padding: 10px;
			border: 1px solid #ddd;
			border-radius: 8px;
			font-size: 1em;
		}

		.button {
			&.primary {
				width: 100%;
				padding: 10px;
				background-color: #ff9100;
				color: white;
				border: none;
				border-radius: 8px;
				cursor: pointer;
				font-size: 1em;
				transition: background-color 0.3s;

				&:hover {
					background-color: #e07d00; // manually darkened shade for hover
				}
			}
		}
	}

	.register-link {
		margin-top: 10px;
		font-size: 15px;
		color: #000;
		cursor: pointer;

		span {
			padding-left: 10px;
			color: #fff;
		}
	}
}
